<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oetsky.project.communication.mapper.SysUnitMapper">
    
    <resultMap type="com.oetsky.project.communication.domain.SysUnit" id="SysUnitResult">
        <result property="id"    column="id"    />
        <result property="unitType"    column="unit_type"    />
        <result property="unitServiceProt"    column="unit_service_prot"    />
        <result property="unitName"    column="unit_name"    />
        <result property="unitStatus"    column="unit_status"    />
        <result property="timeHackType" column="time_hack_type"/>
        <result property="timeMakeUpFor" column="time_make_up_for"/>
        <result property="powerType" column="power_type"/>
        <result property="hardwareVersion" column="hardware_version"/>
        <result property="softwareVersion" column="software_version"/>
        <result property="softwareCheckValue" column="software_check_value"/>
        <result property="fpgaVersion" column="fpga_version"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="remarkExt1"    column="remark_ext1"    />
        <result property="remarkExt2"    column="remark_ext2"    />
        <result property="remarkExt3"    column="remark_ext3"    />
        <result property="remarkExt4"    column="remark_ext4"    />
        <result property="remarkExt5"    column="remark_ext5"    />
    </resultMap>

    <sql id="selectSysUnitVo">
        select id, unit_type, unit_service_prot, unit_name, unit_status, time_hack_type, time_make_up_for, power_type, hardware_version, software_version, software_check_value, fpga_version, create_by, create_time, update_by, update_time, remark, remark_ext1, remark_ext2, remark_ext3, remark_ext4, remark_ext5 from sys_unit
    </sql>

    <select id="selectSysUnitList" parameterType="com.oetsky.project.communication.domain.SysUnit" resultMap="SysUnitResult">
        <include refid="selectSysUnitVo"/>
        <where>  
            <if test="unitType != null  and unitType != ''"> and unit_type = #{unitType}</if>
            <if test="unitServiceProt != null "> and unit_service_prot = #{unitServiceProt}</if>
            <if test="unitStatus != null "> and unit_status = #{unitStatus}</if>
            <if test="timeHackType != null  and timeHackType != ''">and time_hack_type = #{timeHackType}</if>
            <if test="timeMakeUpFor != null ">and time_make_up_for = #{timeMakeUpFor}</if>
            <if test="powerType != null  and powerType != ''">and power_type = #{powerType}</if>
            <if test="hardwareVersion != null  and hardwareVersion != ''">and hardware_version = #{hardwareVersion}</if>
            <if test="softwareVersion != null  and softwareVersion != ''">and software_version = #{softwareVersion}</if>
            <if test="softwareCheckValue != null  and softwareCheckValue != ''">and software_check_value =
                #{softwareCheckValue}
            </if>
            <if test="fpgaVersion != null  and fpgaVersion != ''">and fpga_version = #{fpgaVersion}</if>
            <if test="unitName != null  and unitName != ''"> and unit_name like  '%'|| #{unitName}||'%' </if>
            <if test="remarkExt1 != null  and remarkExt1 != ''"> and remark_ext1 = #{remarkExt1}</if>
            <if test="remarkExt2 != null  and remarkExt2 != ''"> and remark_ext2 = #{remarkExt2}</if>
            <if test="remarkExt3 != null  and remarkExt3 != ''"> and remark_ext3 = #{remarkExt3}</if>
            <if test="remarkExt4 != null  and remarkExt4 != ''"> and remark_ext4 = #{remarkExt4}</if>
            <if test="remarkExt5 != null  and remarkExt5 != ''"> and remark_ext5 = #{remarkExt5}</if>
        </where>
    </select>
    
    <select id="selectSysUnitById" parameterType="Long" resultMap="SysUnitResult">
        <include refid="selectSysUnitVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysUnit" parameterType="com.oetsky.project.communication.domain.SysUnit" useGeneratedKeys="true" keyProperty="id">
        insert into sys_unit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unitType != null and unitType != ''">unit_type,</if>
            <if test="unitServiceProt != null">unit_service_prot,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="unitStatus != null">unit_status,</if>
            <if test="timeHackType != null and timeHackType != ''">time_hack_type,</if>
            <if test="timeMakeUpFor != null">time_make_up_for,</if>
            <if test="powerType != null and powerType != ''">power_type,</if>
            <if test="hardwareVersion != null and hardwareVersion != ''">hardware_version,</if>
            <if test="softwareVersion != null and softwareVersion != ''">software_version,</if>
            <if test="softwareCheckValue != null and softwareCheckValue != ''">software_check_value,</if>
            <if test="fpgaVersion != null and fpgaVersion != ''">fpga_version,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="remark != null">remark,</if>
            <if test="remarkExt1 != null">remark_ext1,</if>
            <if test="remarkExt2 != null">remark_ext2,</if>
            <if test="remarkExt3 != null">remark_ext3,</if>
            <if test="remarkExt4 != null">remark_ext4,</if>
            <if test="remarkExt5 != null">remark_ext5,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unitType != null and unitType != ''">#{unitType},</if>
            <if test="unitServiceProt != null">#{unitServiceProt},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="unitStatus != null">#{unitStatus},</if>
            <if test="timeHackType != null and timeHackType != ''">#{timeHackType},</if>
            <if test="timeMakeUpFor != null">#{timeMakeUpFor},</if>
            <if test="powerType != null and powerType != ''">#{powerType},</if>
            <if test="hardwareVersion != null and hardwareVersion != ''">#{hardwareVersion},</if>
            <if test="softwareVersion != null and softwareVersion != ''">#{softwareVersion},</if>
            <if test="softwareCheckValue != null and softwareCheckValue != ''">#{softwareCheckValue},</if>
            <if test="fpgaVersion != null and fpgaVersion != ''">#{fpgaVersion},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="remark != null">#{remark},</if>
            <if test="remarkExt1 != null">#{remarkExt1},</if>
            <if test="remarkExt2 != null">#{remarkExt2},</if>
            <if test="remarkExt3 != null">#{remarkExt3},</if>
            <if test="remarkExt4 != null">#{remarkExt4},</if>
            <if test="remarkExt5 != null">#{remarkExt5},</if>
         </trim>
    </insert>

    <update id="updateSysUnit" parameterType="com.oetsky.project.communication.domain.SysUnit">
        update sys_unit
        <trim prefix="SET" suffixOverrides=",">
            <if test="unitType != null and unitType != ''">unit_type = #{unitType},</if>
            <if test="unitServiceProt != null">unit_service_prot = #{unitServiceProt},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="unitStatus != null">unit_status = #{unitStatus},</if>
            <if test="timeHackType != null and timeHackType != ''">time_hack_type = #{timeHackType},</if>
            <if test="timeMakeUpFor != null">time_make_up_for = #{timeMakeUpFor},</if>
            <if test="powerType != null and powerType != ''">power_type = #{powerType},</if>
            <if test="hardwareVersion != null and hardwareVersion != ''">hardware_version = #{hardwareVersion},</if>
            <if test="softwareVersion != null and softwareVersion != ''">software_version = #{softwareVersion},</if>
            <if test="softwareCheckValue != null and softwareCheckValue != ''">software_check_value =
                #{softwareCheckValue},
            </if>
            <if test="fpgaVersion != null and fpgaVersion != ''">fpga_version = #{fpgaVersion},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="remarkExt1 != null">remark_ext1 = #{remarkExt1},</if>
            <if test="remarkExt2 != null">remark_ext2 = #{remarkExt2},</if>
            <if test="remarkExt3 != null">remark_ext3 = #{remarkExt3},</if>
            <if test="remarkExt4 != null">remark_ext4 = #{remarkExt4},</if>
            <if test="remarkExt5 != null">remark_ext5 = #{remarkExt5},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysUnitById" parameterType="Long">
        delete from sys_unit where id = #{id}
    </delete>

    <delete id="deleteSysUnitByIds" parameterType="String">
        delete from sys_unit where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchSysUnitList">
        insert into sys_unit(  unit_type , unit_service_prot , unit_name , unit_status,  time_hack_type , time_make_up_for , power_type , hardware_version , software_version , software_check_value ,fpga_version , create_by , update_by , remark , remark_ext1 , remark_ext2 , remark_ext3 , remark_ext4 , remark_ext5 ) values
        <foreach item="item" index="index" collection="list" separator=",">
            (   #{item.unitType},  #{item.unitServiceProt},  #{item.unitName},   #{item.unitStatus},  #{item.timeHackType}, #{item.timeMakeUpFor}, #{item.powerType}, #{item.hardwareVersion}, #{item.softwareVersion}, #{item.softwareCheckValue}, #{item.fpgaVersion}, #{item.createBy},  #{item.updateBy},  #{item.remark},  #{item.remarkExt1},  #{item.remarkExt2},  #{item.remarkExt3},  #{item.remarkExt4},  #{item.remarkExt5})
        </foreach>
    </insert>


    <update id="updateSysUnitProt" >
        update sys_unit set unit_status = #{unitStatus} where unit_service_prot = #{unitServiceProt}
    </update>

</mapper>